{% extends "base.html.twig" %}

{% block description %}Somethin awesome{% endblock %}

{% block content %}
		
		<!-- Start portfolio-area Area -->
	<section class="portfolio-area section-gap" id="portfolio">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Our Latest Featured Projects</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>
			
			<div class="filters">
				<ul>
					<li class="active" data-filter="*">All</li>
					<li data-filter=".vector">Vector</li>
					<li data-filter=".raster">Raster</li>
					<li data-filter=".ui">UI/UX</li>
					<li data-filter=".printing">Printing</li>
				</ul>
			</div>

			
			
			<div class="filters-content">
				<div class="row grid">
				{% for video in videos %}
					<div class="single-portfolio col-sm-2 all vector">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
									<stream src="{{ video.url }}" controls></stream>
									<script data-cfasync="false" defer type="text/javascript" src="https://embed.videodelivery.net/embed/r4xu.fla9.latest.js?video={{video.url}}"></script>
							</div>
							<a href="/video/{{video.alias}}">	
								<div class="middle">
								<div class="text align-self-center d-flex"><img src="img/play.png" alt=""></div>
								</div>
						</a>                              		
						</div>
						<div class="p-inner">
							<h6>{{ video.title | u.truncate(28, '...')}}</h6>
							<div class="cat">{{ video.author | u.truncate(28, '...')}}</div>
						</div>					                               
					</div>
				{% endfor %}
				</div>
			</div>
			
		</div>
	</section>

	   
{% endblock %}